<h2><%= t(:ipn_notifications, :scope => 'paypal') %></h2>

<table class="index">
  <tr>
    <%- with_options :scope => 'paypal' do |i18n| %>
    <th><%= i18n.t(:transaction_type) %></th>
    <th><%= i18n.t(:payer_email) %></th>
    <th><%= i18n.t(:deposit_amount) %></th>
    <th><%= i18n.t(:mc_currency) %></th>
    <th><%= i18n.t(:mc_gross) %></th>
    <th><%= i18n.t(:mc_fee) %></th>
    <th><%= i18n.t(:payment_gross) %></th>
    <th><%= i18n.t(:payment_fee) %></th>
    <%- end %>
  </tr>
  <% payment.order.payment_notifications.each do |notification| -%>
  <tr>
    <td><%= notification.params["txn_type"] or notification.params["reason_code"] %></td>
    <td><%= notification.params["payer_email"] %></td>
    <td><%= number_to_currency notification.params["payment_gross"].to_f - notification.params["payment_fee"].to_f, :unit => "$" %></td>
    <td><%= notification.params["mc_currency"] %></td>
    <td><%= notification.params["mc_gross"] %></td>
    <td><%= notification.params["mc_fee"] %></td>
    <td><%= number_to_currency notification.params["payment_gross"].to_f, :unit => "$" %></td>
    <td><%= number_to_currency notification.params["payment_fee"].to_f, :unit => "$" %></td>
  </tr>
  <% end -%>
</table>
